<!-- car_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ car.model}}</title>
</head>
<body>
    <h1>{{ car.model }}</h1>
    <h2>Manufacturer: {{ car.manufacturer }}</h2>
    <p>Category: {{ car.category.get_name_display }}</p>
    <p>Color: {{ car.color }}</p>
    <p>Engine: {{ car.engine }}</p>
    <p>Fuel Type: {{ car.get_fuel_type_display }}</p>
    <p>Horsepower: {{ car.horsepower }}</p>
    <p>Drive Wheels: {{ car.get_drive_wheels_display }}</p>
    <p>Price: {{ car.price }}</p>

    <h3>Add to Cart</h3>
        <form method="POST" action="{% url 'cart:add_to_cart' car.slug %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
</body>
</html>
